.LoginPlaceholderAg
{
    position: fixed;
    color: black;
    left: 85%;
    margin-top: 90px;
    background-color: #5cdb95;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;


}
.AgProfile
{
    font-family: serif;
    font-size: large;
    font-weight: bold;
    font-style: inherit;   
    
}
