.LoginPlaceholderAg
{
    position: fixed;
    left: 85%;
    margin-top: 100px;
    color: black;
 
}
.AgProfile
{
    font-family: serif;
    font-size: large;
    font-weight: bold;
    font-style: inherit;   
}
.AgName
{
    
    font-family: serif;
    font-size: large;
    font-weight: bold;
    font-style: inherit;
    color: #2d3430;
    position: fixed;
    
    left: 92%;
    margin-top: -20px;

}