.LoginPlaceholder
{
    position: absolute;
    color: black;
    left: 80%;
    margin-top: -260px;
    background-color: #5cdb95;
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.FProfile
{
    font-family: serif;
    font-size: large;
    font-weight: bold;
    font-style: inherit;
    
}
