.ReturnButton
{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #8ee4af;
  /* position: fixed; */
  position:fixed;
  left: 2%;
  top: 6%;
  z-index: 42;
}
.OuSt
{
  font-family: cursive;
  font-weight: bold;
  font-size: xx-large;
  color: black;
 position: absolute;
 top: 3%;
 
  left: 45%;

}
.ListFA
{
    color: black;
    font-family:cursive;
    position: absolute;
    font-size: xx-large;
    top:10%;
    left: 5%;
    display: inline-flexbox;
}
.HorizontalList1
{
    display: flex;
  align-items:left;
  padding-left: -10px;
  padding-right:600px ;
  margin-left: -90px;
  top: 50%;
 
}
.FarmerText
{
   margin-top: 100px;  
  font-size: x-large;
    font-weight:bold;
    align-items: flex-start;
}
.HorizontalList2
{
    display: flex;
  align-items: right;
  margin-left: 620px;
  top: 5%;
}

.bgFarmer{
    
  background-image: url('../Green.jpg');
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
   margin-top: -190px;
   margin-left: 190px;
  height: 50vh;
  border-radius: 50px;        
   width: 75vh;
  overflow: hidden;
  box-shadow: 4px 4px 2px rgb(60, 59, 59);
  border: black solid 2px;
}

.ListAgTP
{
  position: absolute;
  top: 7%;
  margin-top: -200px;
  bottom: 50%;
  display: inline-flexbox;
}
.HorizontalList3
{
    display: flex;
    align-items: left;

}
.HorizontalList4
{
    display: flex;
    align-items: right;
    font-family: cursive;
    color: black;
    margin-top: -400px;
    margin-left: -90px;
}
.AgronomistText
{
    font-family: cursive;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    margin-left: -30px;
    padding-left: 10px;

}
.bgAgronomist
{
    background-image: url('../AgriAim.jpg');
    background-size: cover;     
    background-repeat: no-repeat; 
    background-position: center;
     margin-top: 695px;
     margin-left: -730px;
    height: 60vh;
    border-radius: 50px;        
     width: 82vh;
    overflow: hidden;
    border: black solid 2px;
    box-shadow: 4px 4px 2px rgb(60, 59, 59);
    
}
/*Footer Code*/
/*Footer Code*/
.description
{
  font-family: cursive;
  font-weight:bolder;
  font-size: x-large;
  color: black;
}

.Ending
{
  color: #8ee4af;
  position: absolute;
  bottom: auto;
  top: 130%;
  background-color: #141416;
  width: 101.5%;
  height: 170px;
  left:-1%;
  opacity: 0.9;
}
.CU
{
  font-family: cursive;
  font-size: larger;
  color: #8ee4af;
  margin-top: -10px;
  
}
.ETG
{
  font-family: cursive;
  font-size: medium;
  color: #8ee4af;
  margin-top:-35px;
  margin-left: 75px;
  

}
.Phone
{
  font-family: cursive;
  font-size: medium;
  color: #8ee4af;
  margin-top:-40px;


}
.Phonesvg
{
  fill: #8ee4af;
  z-index: 3;
  padding-right: 8px;
  padding-top: 30px;
}
.Emailsvg
{
  fill: #8ee4af;
  z-index: 3;
  margin-top: 24px;
  margin-left: -50px;
  padding-right: 5px;


}
.Contactsvg
{
  fill: #8ee4af;
  z-index: 3;
  padding-right: 10px;
  margin-top: 24px;
  
}
.EmailLink
{
  text-decoration: none;
  color: #8ee4af;

}
.AlignMiddle
{
  justify-content: center;
  margin-left: -50%;
}
.HorizontalListItem1
{
  display: flex;
}
.ContactList
{
  display: flex;
}
.FoUs
{
  font-family: cursive;
  font-size: larger;
 
  margin-top: 10px;
}

.HorizontalListItem1
{
  margin-left: 650px;

}
.FbLogo
{
  fill: #8ee4af;
  z-index: 3;
  margin-top: 60px;
  margin-left: -200px;
}
.twitLogo
{
  fill: #8ee4af;
  z-index: 3;
  margin-top: 63px;
  margin-left: -20px;
}
.WALogo
{
  fill: #8ee4af;
  z-index: 3;
  margin-top:60px ;
  margin-left: -300px;
}
.InstaLogo
{
  fill: #8ee4af;
  z-index: 3;
  margin-top: 60px;
  margin-left:-100px;

}
.GitLogo
{
  fill: #8ee4af;
  z-index:3;
  margin-top: 60px;
  margin-left:15px;
}
.QL
{
  font-family: cursive;
  font-size:larger;
  margin-left: 645px;
  margin-top: 10px;
}
.ReferenceLink
{
 text-decoration: none; 
 margin-left: 1050px;
 
}
.Home
{
  font-family: cursive;
  font-size: medium;
  color: #8ee4af;
  margin-top: -30px;
  margin-left: 592px;
}
.HIW
{
  font-family: cursive;
  font-size: medium;
  color: #8ee4af;
  margin-top: -14px;
  margin-left: 663px;
}
.AbUs
{
  font-family: cursive;
  font-size: medium;
  color: #8ee4af;
  margin-top: -20px;
  margin-left: 625px;
  padding-top: 5px;
}
.QLHAH
{
  margin-left: -150px;
}

.LinkSVG
{
  fill: #8ee4af;
  z-index: 3;
  padding-left: 5px;
}






