.bgAboutUs {
    
    background-image: url('../bgag1.jpg');
    background-size: cover;      /* Cover the viewport */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /*Center the image */
     margin-left: -150px;
    height: 100vh;               /* Full height of the viewport */
    width: 208vh;
    overflow: hidden;
    overflow-y: hidden;
    margin-top: -10px;
}
