.AgQnAContainer
{   position: relative;
    top:-3px;
    left: -120px;
    width:1100px;
    height: 500px; 
    background-color:#8ee4af;
    border-radius: 10px;
    border: 1px #2d2d2d solid;
    list-style-type: none;
    box-shadow: 4px 4px rgb(142, 140, 140);
}
.AgProfile
{   position: absolute;
    top: 290px;
    right: 40px;
    height: 400px;
    width: 200px;
    border-radius: 5px;
    background-color: #8ee4af;
    list-style-type: none;
    border: 1px black solid;
    box-shadow: 6px 6px rgb(174, 172, 172);
}
.AgQuestionBox
{
    position: relative;
    height: 50px;
    width: 1000px;
    border-radius: 10px;
    border: 0.2px black solid;
    list-style-type: none;
    background-color: beige;
    /* padding: 15px; */
    padding-bottom: 20px;
    box-shadow: 3px 3px rgb(129, 125, 125);
    display: grid;
    
}
 .AgAnswer
{
    list-style-type: none;
   /* width: 700px; */
   display: inline-block; 
   padding-right: 20px;
    
} 
ul{
    list-style-type: none;
}
.FixTextArea
{
    resize: none;
    width: 900px;
    height: 50px;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(129, 125, 125);
    font-size: x-large;
}
.AgSubmit
{
    /* display: flex; */
     list-style-type: none; 
    /* left: 900px; */
    /* margin-left: 900px; */
    padding-top: 15px;
    padding-left:-15px;

}

.AgAnsContainer
{
    display: flex;
    padding-right:30px;
}
.Heading
  {
    color: black;
     padding-top: 100px;
    /* padding-left: -840px; */
    padding-bottom: -90px;
    left: 150px;
    /* align-items: left;
    justify-content:left;
    align-content: left; */
    text-align: left ;
    padding-left: 250px;
    
  }
.SubmitButton
{
    height: 34px;
    height: 35px;
    border-radius: 20px;
    border: rgb(47, 45, 45) solid 0.2px;
}