.AgPrevQuestionBox
{
    position: relative;
    height: 50px;
    width: 1100px;
    border-radius: 10px;
    border: 0.2px black solid;
    list-style-type: none;
    background-color: #e8edec;
    padding-bottom: 20px;
    box-shadow: inset 2px 3px 10px rgb(5, 5, 5);
    display: grid;
    
}
.AgPrevAnswerBox
{
  position: relative;
  height: 50px;
  width: 1100px;
  border-radius: 10px;
  border: 0.2px black solid;
  list-style-type: none;
  background-color: #e8edec;
  /* padding: 25px; */
  padding-bottom: 20px;
  /* box-shadow: 3px 3px rgb(129, 125, 125); */
  box-shadow: inset 2px 3px 10px rgb(5, 5, 5);
  display: grid;
  overflow-y: scroll;
}
.AgronomistEditQnAItem
{
  transition: 2s ease-in-out;

}
.QuestionHeading
{   
    margin-left: -10px;
    position: relative;
    color: #050505;
    margin-left: -1070px;
}
.AnswerHeading
{
    color: #050505;
   margin-left: -1000px;
}
.PrevquestionText 
{
    color : #2D2D2D;
    font-size: medium;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-align:start;
    text-indent: 10px;
}
.PrevAnswerText 
{
    color : #2D2D2D;
    font-size: medium;
    font-weight:700;
    font-style: italic;
    /* text-transform: uppercase; */
    text-align:start;
    text-indent: 10px;
}
.PrevfarmerText
{
    color : #2D2D2D;
    font-size: medium;
    font-style: italic;
    position: absolute;
    font-weight: lighter;
    bottom:-10px;
    right: 15px;
}

.AgPrevAnsContainer
{
    display: flex;
    /* padding-left:-350px; */
    transition: 0.75s ease-in-out;
    /* width: auto; */
    width: 1000px;
    /* left: -800%;
    
    right: 100%; */
    overflow-y: scroll;
    margin-left: -50px;
}
.AgPrevAnsContainer:focus
{
  transform: scaleX(1.25) scaleY(1.25);
  transform-origin: left;
}

 .AgPrevAnswer
{
    list-style-type: none;
   width: 1300px;
   display: inline-block; 
   padding-right: 5%;
   overflow-y: scroll;
   transition: 0.75s;
   
} 
 
.FixTextAreaAnswer
{
    resize: none;
    width: 750px;
    height: 50px;
    list-style-type: none;
    border-radius: 10px;
    /* box-shadow: 3px 3px rgb(129, 125, 125); */
    font-size: x-large;
    box-shadow: inset 2px 3px 10px rgb(5, 5, 5);
    transition: 0.75s ease-in-out;
    /* justify-content: flex-start; */
    /* text-align: start; */
    
  }

.FixTextAreaAnswer:focus 
{
  transform: scaleX(1.1) scaleY(1.2);
  transform-origin: left;
} 
::placeholder 
{
  text-indent: 10px;
}

.AgEdit
{
    /* display: flex; */
     list-style-type: none; 
   
    padding-top: 15px;
    padding-left:-15px;
}
.AgEditButton {
    width: 80px;
    height: 40px;
    position: relative;
    font-family: var(--font);
    color: #06373A;
    font-weight: 600;
    background-color: #fff;
    border: none;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all ease 100ms;
  }
  
 .AgEditButton:hover {
    background-color: #e8f5ed;
  }
  
  .AgEditButton:focus {
    background-color: #b6f5ce;
    opacity: 1;
  }
  
  .AgEditButton::before {
    content: 'Done ✅';
    position: absolute;
    color: #050505;
    
    left: 0;
    top: -18px;
    right: 0;
    transition: all ease 300ms;
    opacity: 9;
  }
  

  .AgEditButton:focus::before {
    opacity: 100%;
    transform: translatey(28px);
  }
  
  .edit_text {
    transition: all ease 100ms;
    opacity: 100%;
    position: absolute;
    top: 0%;
    left: 20%;
  }
  
  .AgEditButton:focus > .edit_text {
    opacity: 0%;
  }