body {
    font-family: Arial, sans-serif;
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    top:30%
  }
  
  .container {
    width: 500px;
    height: 80%;
    padding-top: 10px;
    margin-top: -60px;
    background-color: #242526;
    border-radius: 5px;
    
    border-color: #000000;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    
    transition: 0.75s ease-in-out;
  }

  .container:hover {
    transform: scale(1.05);
  }
  
  h2 {
    text-align: center;
    color: #efeeee;
  }
  
  .form_group {
    margin-bottom: 5px;
    width: 90%; 
    padding-left: 25px;
    padding-right: 25px;
    transition: border-color 0.3s ease;
            
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type=text],
  input[type=password] {
    width: 90%;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #313569;
    transition: border-color 0.3s ease;
    
  }
  
  .register_link {
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .register_link a {
    color: #8EE4AF;
    
    display: inline-block;
  }

  .button {
    width: 80%;
    background-color: #8EE4AF;
    font-size: medium;
    border-radius: 30px;
    padding-top: -5px;
  }
