.TextAnimationHome
{
    left: 35%;
    top: 22%;
    position: absolute;
    color: rgb(1, 1, 1);
    display: inline-block;
    font-size: 40px;
    cursor: text;
    text-shadow: 20px;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-family:serif;
}