.mainButton {
cursor: pointer;
align-content: center;
background-color: #8EE4AF;
margin-left: 20px;
margin-right: 20px;
height: 75px;
width: fit-content;
text-size-adjust: 30px;
border-radius: 30px;

font-size: x-large;
font-weight: 500;
}


.center {
    position: absolute;
    top: 50%;
    bottom: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 35%;
    
}

.fontText {
    color: #242526;
    max-width: 1280px;
    font-size:xx-large;
    font-weight: 200;
    
    text-align: center;
    
}
