.mainButton {
cursor: pointer;
align-content: center;
background-color: #ccc6c6;
margin-left: 20px;
margin-right: 20px;
height: 95px;
width: 145px;
text-size-adjust: 200px;
font-size: large;
font-weight: bolder;
border-radius: 30px;
font-family: comfortawesome;
border: 2px solid black;


}
.center {
    position: fixed;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 25.5%;
    top: 50%;
    /* bottom: 50%;  */
    z-index: 6;
    
}
