.BGCreateACCAGS
{
    background-image: url('../shorisha.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -340px;
    margin-left: -763px;
    height:92vh;
    width: 208.9vh;
    /* opacity: 0.9; */
    overflow:-moz-hidden-unscrollable;
    position: fixed;
}
.ACConfirmation
{
    font-weight: bolder;
    font-family: comforawesome;
    color: black;
    font-size: xx-large;
    position: fixed;
    margin-left: 65px;
    margin-top: 65px;
}
.NoAccConfirmation
{
    color: black;
    font-size: xx-large;
    position: fixed;
    font-family: comfortawesome;
    margin-left: 65px;
    margin-top: 290px;
    z-index: 5;
    font-weight: bolder;
    /* z-index: 5; */
}
.ACCBgBox
{
    /* background-color: #434346; */
    height: 420px;
    width: 450px;
    position: fixed;
    border-radius: 40px;
    border: 2px solid black;
   
    margin-left: 950px;
    margin-top: 150px;
}
.AcCreateACC
{
    font-family: comfortawesome;
    font-size: xx-large;
    color: black;
    position: fixed;
    font-weight: bold;
    margin-top:350px;
    margin-left: 145px;

}