.logo
{
    float: left;
    
    left: 30px;
    
 
}
.logo img
{
    height: 160px;
    width:230px;
  
    
}


.main_header {
    position: absolute;
    top: -40px;
    left: 50px;
    /*float: left;*/

    /*right: 150px;*/
    /*width: screen-fit;*/
   /* text-align: center;*/
    display:flex;
    justify-content: center;
    /*align-items: center;*/
    /*border-bottom: 3px solid #1e1d20;*/
    color: #242526;
  }
  nav
  {

   /* padding-top: 10%;*/
   float: center;
   justify-content: center;
   align-content: center;
   padding: 25px;
  }
 nav li{
    text-align: left;
 
    padding-top: 30%;

/*padding-left: 25px;
  padding-inline-start: 10px;*/
  display: inline-block;
  justify-content:center;


  
 }
.list {
    list-style: none;
    display:inline-block;
    max-width: 50rem;
  
    /*padding: 1rem 0;*/
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
}




