.HeaderBackground
{
    background-color: rgb(0, 0, 0);
}
.logo
{
    padding-left:35%;
   padding-right: 40%;
    padding-top: 5%;
    position: relative;
}
.logo img
{
    height: 160px;
    width:230px;
}
.main_header {
    position: fixed;
    top: -30px;
    left: 0px;
    height:160px ;
   width:max-content;
/* background-color: blanchedalmond; */
 
    display:flex;
    justify-content: center;
    /*align-items: center;*/
    /*border-bottom: 3px solid #1e1d20;*/
    color: #242526;
  }
  nav
  {

   /* padding-top: 10%;*/
   float: center;
   justify-content: center;
   align-content: center;
   padding: 20px;
   /* width: 100px; */
   /* background-color: blanchedalmond; */
   
  
  }
 nav li{
    text-align: left;
 
    padding-top: 35%;

/*padding-left: 25px;
  padding-inline-start: 10px;*/
  display: inline-block;
  justify-content:center;
  
 }
.list {
    list-style: none;
    display:inline-block;
    max-width: 50rem;
  
    /*padding: 1rem 0;*/
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
}




