/*PrevQuestionBox*/
.PrevQuestioBox
{
    
    padding:auto;
    display: inline-block;
    margin-left: 350px;
    position: absolute;
    
    width: 360px;
    margin-top: -340px;
    height: 590px;
    margin-bottom:300px;
    padding: 20px;
    /*background-color: rgb(214, 204, 204);*/
    border-radius: 10px;
    opacity: 6;
    justify-content: right;
   border-color: black;
    box-shadow: rgb(30, 23, 23);
}
.box {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    width:auto;
    height: 45px;
    background-color: #98d996;
    border-radius: 25px;
    border: 2px black solid;
  }

  .Text
  {
    font-size: large;
    font-weight: 100;
    color: black;
  }