.prevquestion_box {
   
    display: flex;
    justify-content: center;
    align-content: center;
    /* position: relative; */
    /* top: 40%; */
    margin-top: 20px;
    width:auto;
    height: auto;
    background-color: #8EE4AF;
    border-radius: 25px;
    border: 2px #2d2d2d solid;
    overflow-x: hidden;
    font-family: serif;
    transition: 0.4s ease-in-out;
  }

.prevquestion_box:hover {
    transform: scale(1.1);
}

.prevquestion_text {
    color: #000000;
    font-weight: 500;
    font-size: large;
    font-family: serif;
}

.badge {
    position: absolute;
    top: 5px; /* Adjusted to better align with the cart icon */
    right: -10px;
    background-color: var(--badge-bg-color);
    color: var(--badge-text-color);
    border-radius: 50%;
    font-size: 14px;
    padding: 2px 5px; /* Ensures the badge has a more balanced look */
    border: 1px solid var(--badge-border-color);
    box-shadow: var(--box-shadow); /* Add a slight shadow for depth */
  }