.question_card
{
    height: 65px;
    width: fit-content;
    margin: 5px 0;
    padding: 1rem;
    background-color: #8EE4AF;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    opacity: 0.9;
    transition: 0.5s ease-in-out; 
    overflow: hidden;
}

.question_card:hover
{
    transform: scale(1.2);
    border: #0c0202 solid 1px;
}

.relevantquestion
{
    white-space: pre-wrap;
    font-size:smaller;
    font-weight: 550;
    margin: 0 0 0 0;
    color: #1B1212;
    font-style: italic;
}

.farmer
{
    font-size: 0.8rem;
    font-weight: bold;
    color: #12121b;
    margin: 0;
    text-transform: uppercase;
}