.search_container {

    display: flex;
    justify-content: center;
    
    width:600px;
    height: 50px;
    margin-top: 20px;
    margin-left: -240px;
    border-radius: 40px;
    
    position: relative;
    

  }
  .searchButton {
    border-radius: 40px;
    background-color: #8EE4AF;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    /*background-image: url(images/Search.png);*/
    
  }
  
  .twoButtons1 {
    cursor: pointer;
    
    background-color: #8EE4AF;
    left: 200px;
    margin-right: 20px;
    border-radius: 55px;
    height: 55px;
    width: 55px;
   
  }

  .twoButtons2 {
    cursor: pointer;
   
    background-color: #8EE4AF;
  
    border-radius: 50px;
    height: 55px;
    width: 55px;
  }

  input[type="text"] {
    /*padding: 10px;
    border: 1px solid #353333;*/
    border-radius: 40px;
    /*width:500px;*/
  }

  .HorizontalButtons
  {
    display: flex;
  }

  
  




