/*Toggle*/
.toggle {
  position: fixed;
  top:5%;
  right: 0.5%;
  display: inline-block;
  --width: 82px;
  --height: calc(var(--width) / 2.5);

  z-index: 41;

  width: var(--width);
  height: var(--height);
  border:0.1px solid black;
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #94c6a7;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height)/2);
  background-color: #fffafa;
  border-radius: 0.1x solid rgb(101, 91, 91);
  transition: all 0.4s ease-in-out;
  
}

.toggle input:checked+.slider {
  background-color: #94c6a7;
 font-family: black;
  
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));

}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 100;
  /*font-family: sans-serif;*/
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #000000;
  opacity: 1;
  
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: black;
  opacity: 0;
  
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

